/*
	Theme Name: WPSupport Theme
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.2
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3
	
	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


div#banner {
	background: url('img/banner.jpg') no-repeat center 0;	
	background-size: auto;
	height: 565px;
	min-height: 100px;
	position: relative;
	
}

div#banner > div.container {
	
}

div#banner > div.container button {
	position: absolute;
}
div#banner > div.container button:nth-of-type(1){
	right: 0;
	top: 4px;
}

div#banner > div.container button:nth-of-type(2){
	bottom: 50%;
}

.navbar-right li a{
    text-decoration: underline;
}

.thumbnail{
	border: none;
}

.how-it-works h2{
	text-align: center;
	font-size:32px;
	padding: 20px 0;
}

.example-job h2{
	text-align: center;
	font-size:32px;
	padding: 20px 0;
}

.example-job .col-md-4 .border-box{
  border: 1px solid #efefef;
  margin-right:20px;
  padding: 20px 10px;
}

.example-job .col-md-4 .border-box:last-child{
  margin:0;
}

.example-job .col-md-4:last-child{
  margin: 0;
}

.example-job .col-md-4 h3{
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.gray-bg{
  background: #F6F6F6;
}

.plans-and-signup h2{
	text-align: center;
	font-size:32px;
	padding: 20px 0;
}

.plans-and-signup .table thead > tr > th,.plans-and-signup .table tbody > tr > th{
  border: none;
}

.plans-and-signup .table tbody > tr > td{
  border-top: 1px solid #efeded;
}

.plans-and-signup .table tr th:nth-child(3), .plans-and-signup .table tr td:nth-child(3){
  background: #9DD280;
}

.plans-and-signup .table tr:last-child td{  
  -webkit-border-radius: 0 0 5px 5px ;
  -moz-border-radius: 0 0 5px 5px ;
  -o-border-radius: 0 0 5px 5px ;
  border-radius: 0 0 5px 5px ;
}


.plans-and-signup .table tr th {
  text-align: center;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plans-and-signup .table tr th .package{
  display: block;
  font-size: 18px;
}

.plans-and-signup .table tr th .price{
  display: block;
  font-size: 40px;
}

.plans-and-signup .table tr th .btn{
  display: block;
  width: 100px;
  margin: 0 auto;
}

.jumbotron{
    margin-bottom: 0;
    padding-top: 20%;
    padding-bottom: 20%;
}

.footer{
  border-top: 1px solid #ccc;
}

.footer ul.nav{
  width: 500px;
  margin: 0 auto;
  
}





 
body[class*="page-generic"]{
	
 }
 
 
 
 
 
 
 
 
 
@media (min-width: 1200px){
	div#banner { 		
		background-size: 100% auto;
		height: 565px;
    }
        
 }
 
 	
 
  
 
}


@media (min-width: 768px) and (max-width: 979px) {
	div#banner {	
		width: 100%;
    }
}



@media (min-width: 481px) and (max-width: 767px) {
	div#banner { 		
		height: 350px;
    }
    .footer ul.nav{
      width: auto;
      margin: auto;
    }
 #banner > .container >  .row:nth-of-type(1) > div {
 		float: right;
 	}
	
}

 @media (max-width: 480px) {
	div#banner {	
		height: 100px;
		background: none no-repeat center 0;
 }
 	#banner > .container >  .row:nth-of-type(1) > div {
 		float: right;
 	}
 	div#banner > div.container button:nth-of-type(1){
	width: 100%;
	float: none!important;
	display: block;
	position: inherit;
	margin: 10px 0 0 0;
}
	 	
	div#banner > div.container button:nth-of-type(2){
	float: none!important;
	width: 100%;
	display: block;
	position: inherit;
	margin: 10px 0 10px 0;
    }
    .footer ul.nav{
      width: auto;
      margin: auto;
    }
	 
}